<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.form-fields {
    input {
        border: 1px solid rgba(62, 62, 62, .18);
=======
>>>>>>> 344c6ee509a06002bcdc9f922ef8c0dea2656983

        &:focus {
            box-shadow: none;
            /* border: none; */
            outline: none;
            border: 1px solid rgba(62, 62, 62, .18) !important;

        }
    }

}



.swiper-button-prev:after, .swiper-button-next:after {
    content: "prev";
    font-size: 14px !important;
    font-weight: bold;
    background-color: #FFA235 !important;
    width: 45px;
    height: 45px;
    line-height: 45px !important;
    color: white;
    border-radius: 50%;
    text-align: center;
}

@media (max-width: 640px) {
    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 12px !important;
        width: 35px !important;
        height: 35px !important;
        line-height: 35px !important;
    }
}


.swiper-button-prev{
    left: 40px !important;
    width: 45px !important;
    height: 45px !important;

    @media (max-width: 640px) {
        left: 20px !important;
        width: 35px !important;
        height: 35px !important;
    }
}

.swiper-button-next{
    right: 40px !important;
    width: 45px !important;
    height: 45px !important;
    line-height: 45px !important;


    @media (max-width: 640px) {
        right: 20px !important;
        width: 35px !important;
        height: 35px !important;
        line-height: 35px !important;

    }
}
